<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <a href="/" class="home-link"><h1>Members Only</h1></a>

      <div class="header-right">
        <% if (!currentUser) { %>
        <a href="/log-in" class="link-btn">Log In</a>
        <% } else { %>
        <div class="dropdown">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-down-icon lucide-chevron-down"
          >
            <path d="m6 9 6 6 6-6" />
          </svg>

          <div class="dropdown-content">
            <% if (currentUser.user_type === "basic") { %>
            <a href="/membership">Join the Club</a>
            <% } %>
            <% if (currentUser.user_type !== "admin") { %>
            <a href="/admin">Become an Admin</a>
            <% } %>
            <a href="/log-out">Log Out</a>
          </div>
        </div>
        <% } %>
      </div>
    </header>
