<%- include('header', { title, currentUser }) %>

<main>
  <form class="log-in-form" action="/log-in" method="post">
    <h2>Log In</h2>

    <div class="input-pair">
      <input
        type="text"
        name="username"
        placeholder="Username"
        maxlength="50"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        maxlength="50"
        required
      />
    </div>

    <p>New here? <a href="/sign-up">Sign Up</a></p>

    <button type="submit">Log In</button>
  </form>
</main>

<%- include('footer') %>
