<%- include('header', { title, currentUser }) %>

<main>
  <form class="msg-form" action="/message" method="post">
    <h2>New Message</h2>

    <div class="input-pair">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" required />
    </div>

    <div class="input-pair">
      <label for="content">Content</label>
      <textarea name="content" id="content" rows="5" required></textarea>
    </div>

    <button type="submit">Post</button>
  </form>
</main>

<%- include('footer') %>
